<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>

<h2>Users</h2>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Profession</th>
        <th>Email</th>
        <th>Action</th>
    </tr>
    <tr th:each="user : ${myusers}">
        <td th:text="${user.getId()}"></td>
        <td th:text="${user.getName()}"></td>
        <td th:text="${user.getSurname()}"></td>
        <td th:text="${user.getProfession()}"></td>
        <td th:text="${user.getEmail()}"></td>
        <td>
            <a th:href="@{/{id}/edit(id=${user.getId()})}">Edit</a>
            <form th:method="DELETE" th:action="@{/{id}(id=${user.getId()})}">
                <input type="submit" value="Delete"/>
            </form>
        </td>
    </tr>
    <br>
</table>
<br>
<br>
<h2>Add new user</h2>
<a th:href="@{/new}">Add new user</a>
</body>
</html>